# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.7z

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# hg
.hg*

#liteide
*.exe
build*
liteidex/bin
liteidex/liteide
liteidex/src/code.google.com
liteidex/src/github.com

