<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
		<string>True</string>
	<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2011-2020 visualfc. All rights reserved.</string>
	<key>CFBundleIconFile</key>
		<string>liteide.icns</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleSignature</key>
		<string>????</string>
	<key>CFBundleExecutable</key>
		<string>LiteIDE</string>
	<key>CFBundleIdentifier</key>
		<string>com.visualfc.liteide</string>
	<key>CFBundleVersion</key>
		<string>X37</string>
	<key>CFBundleShortVersionString</key>
		<string>37.1</string>
</dict>
</plist>
