[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LiteIDE
Comment=IDE for editing and building projects written in the Go programming language
Exec=liteide
Icon=liteide
Terminal=false
StartupNotify=false
Categories=Application;Development;
